DATABASE_URL="postgresql://postgres:mypass@localhost:5432/notely?schema=notely" 
CLOUD_NAME='sdksdlkf'
COULDINARY_API_KEY='434243424234344343'
COULDINARY_API_SECRET= '4342342424234fjdfjsfkafkdf' 
PORT=3000
JWT_SECRET='fjaslfjaslkfjasdfkkkkkkkkkkkfasfjalsjflasflkajslfjaslfjalfjlaksfjlasjflasjflasjf'
JWT_REFRESH_SECRET='ALFAJFLASFLAJFLJFLASJFLASJFLASJFLAFJASLFJASLFJASKLFJASFJJOERNEHRORHOWEJRLRJLEKJRWLEJR'
